{% extends "layout.jinja" %}

<h2>{{ title }}</t
{% block content %}
<p>{{ content }}</p>
<hr/>

<div class="d-flex justify-content-between mb-3">
  <a href="{{ prev }}.html" class="btn btn-success">Prev</a>
  <a href="/" class="btn btn-secondary">Home</a>
  <a href="{{ next }}.html" class="btn btn-primary">Next</a>
</div>
{% endblock %}